[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/tufu9441/maupassant-hexo.git
[submodule "themes/jacman"]
	path = themes/jacman
	url = https://github.com/wuchong/jacman.git
